body {
	font-family: 'Droid Sans', arial, serif;
}


@font-face {
    font-family: 'New Super Mario Font U';
    src: url('assets_fansite/NewSuperMarioFontU.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.mario_font {
	font-family: 'New Super Mario Font U';
}

h1 {
    display: inline;
    font-family: 'New Super Mario Font U';
    background-image: url('assets_fansite/layout_gold.png');
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 0px black;
    text-align: center;
    background-size: 100% 100%;
    padding: 20px 30px;
}

/* .mario_font_w_layout {
	display: inline;
	font-family: 'New Super Mario Font U';
	background-image: url('assets_fansite/layout_gold.png');
	background-size: cover;
    color: white;
    text-shadow: 2px 2px 0px black;
	text-align: center;
    background-size: 100% 100%;
}*/

.bg_items {
    background-color: gold;
    background-image: url('assets_fansite/bg_items.png');
}
.bg_coins {
    background-color: gold;
    background-image: url('assets_fansite/bg_coins.png');
}

header {
    text-align: center;
}

header > a:link { text-decoration: none; color: white; }
header > a:visited { text-decoration: none; color: white; }
header > a:hover { text-decoration: none; color: white; }
header > a:active { text-decoration: none; color: white; }

nav {
    width: 100%;
    margin: -20px auto;
    background: rgb(255,139,0);
	background: linear-gradient(0deg, rgba(255,139,0,1) 35%, rgba(255,215,0,1) 100%); 
    position: sticky;
    top: 0px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    float: left;
    width: 25%;     /*20%*/
    text-align: center;
    position: relative;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: #336699;
}

footer {
    width: 100%;
    height: 252px;
    background-image: url('assets_fansite/grass_further_gradiant.jpg');
}

.bg_grassland {
    margin: -16px 0px;
    background-color: #26a2fc;
    background-image: url('assets_fansite/land_backgrounds/bg_grassland.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 503px;
}

.box_container {
    margin: auto;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

/*.message_box {
    border: 4mm ridge rgba(130, 118, 118, 1);
    background-color: gold;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}*/

.message_box {
    border: 4mm ridge rgba(130, 118, 118, 1);
    background-image: url('assets_fansite/bg_box.jpg');
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

.message_box a:link { text-decoration: none; color: black; font-size: 24px; font-family: 'New Super Mario Font U'; }
.message_box a:visited { text-decoration: none; color: black; font-size: 24px; font-family: 'New Super Mario Font U'; }
.message_box a:hover { text-decoration: none; color: black; font-size: 24px; font-family: 'New Super Mario Font U'; }
.message_box a:active { text-decoration: none; color: black; font-size: 24px; font-family: 'New Super Mario Font U'; }

.left_right_container {
    margin: 0px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left_right_container > .message_box:nth-child(2n) {
    align-self: flex-end;
    text-align: right;
}

.left_right_container > .message_box:nth-child(2n+1) {
    align-self: flex-start;
    text-align: left;
}